.btn {
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 1;
  color: #000;
  background-color: @yellow;
  border-radius: 20px;
  .transition();
  
  &:hover,
  &:active {
    color: #fff;
    background-color: @blue;
    .transition();
  }
  
  &--blue {
    color: #fff;
    background-color: @blue;
    
    &:hover,
    &:active {
      color: #000;
      background-color: @yellow;
      .transition();
    }
  }
}
