@media (max-width: 1230px) {
  .wrapper {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .header--card .logo,
  .logo {
    left: 15px;
    width: 220px;
    height: 110px;
    padding: 30px;
    box-shadow: none;
    .transition();
  }
  .header--card .header__wrap,
  .header__wrap {
    position: static;
    padding-left: 240px;
    .transition();
  }
  .header__bottom__wrap {
    position: static;
  }
  .header__call {
    margin-left: 50px !important;
    .transition();
  }
  .menu__link,
  .menu__down {
    padding-top: 18px;
    padding-bottom: 18px;
    .transition();
  }
  .main--card,
  main {
    padding-top: 110px;
  }
  .header__phone {
    display: block;
    margin-left: 0;
  }
  .menu__btn {
    display: block;
    width: 40px;
    height: 45px;
    background-image: url(../img/icons/menu.svg);
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center;
    
    &--opened {
      background-image: url(../img/icons/cross.svg);
      background-size: 25px 25px;
    }
  }
  .menu__list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 100;
  }
  .menu__item {
    margin-left: 0;
    flex-wrap: wrap;
    
    &:hover {
      .menu__sublist {
        display: none;
      }
    }
  }
  .menu__down {
    padding-left: 10px;
    .transition();
    
    &--opened {
      transform: rotate(-180deg);
      .transition();
    }
  }
  .menu__sublist {
    position: static;
    width: 100%;
    box-shadow: none;
  }
  .menu__subitem a {
    text-align: center;
  }
  .promo__slide {
    height: 560px;
  }
  .promo__prev {
    left: 15px;
  }
  .promo__next {
    right: 15px;
  }
  .benefits__wrap::before {
    left: 15px;
    top: 90px;
  }
  .benefits__wrap {
    display: block;
  }
  .benefits__list {
    margin-left: auto;
  }
  .steps__info,
  .benefits__info {
    width: 100%;
    padding: 0 15px;
    margin-bottom: 30px;
  }
  .news__list,
  .service__list {
    margin-right: 0;
    justify-content: space-around;
  }
  .service__item {
    margin-right: 0;
  }
  .digits__title {
    font-size: 20px;
  }
  .about__info {
    width: 50%;
  }
  .about__img {
    width: 45%;
    margin-left: 0;
  }
  .order__wrap::before {
    left: 50px;
  }
  .news__item:nth-child(4) {
    display: none;
  }
  .card__slider .wrapper {
    padding-left: 0;
    padding-right: 0;
  }
  .info .wrapper,
  .video .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
  .video__item {
    width: 32%;
    height: 215px;
  }
  .steps__wrap {
    flex-wrap: wrap;
  }
  .steps__wrap::before {
    right: 15px;
    top: 180px;
    width: 500px;
  }
  .steps__list {
    margin-right: auto;
    order: 2;
  }
  .steps__info {
    order: 1;
  }
  .footer__phone {
    font-size: 26px;
  }
  .footer__mail {
    font-size: 18px;
  }
  .price__title {
    font-size: 20px;
  }
  .card__wrap,
  .card__wrap ul,
  .card .title-2,
  .price__body ul {
    padding-left: 0;
  }
  .price__value span {
    font-size: 80px;
  }
  .process__text {
    line-height: 1;
  }
  .card__preview {
    padding-left: 0;
    padding-right: 0;
  }
  .card__wrap ul {
    width: 50%;
  }
  .card__info {
    left: 0;
  }
}

//////////////////////////////////////////////
@media (max-width: 1022px) {
  .header--card .header__wrap,
  .header__wrap {
    flex-wrap: wrap;
  }
  .header__phones {
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__call {
    margin-left: 0 !important;
  }
  .header__phone:first-of-type {
    margin-left: auto;
    margin-right: auto;
  }
  .header--card .logo,
  .logo {
    height: 123px !important;
  }
  .benefits__wrap::before {
    left: -230px;
    top: 110px;
  }
  .steps,
  .digits,
  .benefits {
    overflow: hidden;
  }
  .digits__title {
    font-size: 18px;
  }
  .work .title-2,
  .work .subtitle {
    padding-left: 15px;
    padding-right: 15px;
  }
  .work__item {
    width: 33.33%;
  }
  .footer__list,
  .news__item:nth-child(3),
  .order__wrap::before {
    display: none;
  }
  .order__wrap {
    display: block;
  }
  .order__slogan {
    width: 100%;
    text-align: center;
  }
  .order__form {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .video__list {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .video__item {
    width: 300px;
    max-width: 100%;
  }
  .steps__wrap::before {
    right: -220px;
    top: 200px;
  }
  .footer__top {
    flex-wrap: wrap;
  }
  .footer__contacts {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  .footer__bottom,
  .footer__mail,
  .footer__phone {
    text-align: center;
  }
  .footer .social {
    justify-content: center;
  }
  .footer .social__item {
    margin-left: 15px;
    margin-right: 15px;
  }
  .footer__down {
    position: absolute;
    top: -5px;
    right: 0;
    z-index: 5;
    display: block;
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    .transition();
    
    &--opened {
      transform: rotate(-180deg);
      .transition();
    }
  }
  .footer__block {
    position: relative;
    width: 22%;
  }
  .footer__title {
    padding-right: 30px;
  }
  .main--card,
  main {
    padding-top: 123px;
  }
  .price__body {
    padding-left: 20px;
  }
  .price__value {
    font-size: 36px;
  }
  .price__value span {
    font-size: 60px;
  }
  .process__item::after,
  .process__list::before {
    display: none;
  }
  .process__list {
    display: block;
  }
  .process__item {
    width: 370px;
    max-width: 100%;
    flex-direction: row-reverse;
    margin-left: auto;
    margin-right: auto;
  }
  .process__text {
    width: ~"calc(100% - 100px)";
    
    span {
      max-width: 100%;
    }
  }
  .card__slide {
    height: 450px;
  }
}

//////////////////////////////////////////////
@media (max-width: 766px) {
  .header__phones,
  .header__wrap,
  .header--card .header__wrap {
    flex-direction: column;
  }
  .steps__wrap::before,
  .benefits__wrap::before {
    display: none;
  }
  .steps__list,
  .benefits__list {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .card__wrap ul,
  .about__info,
  .benefits__item {
    width: 100%;
  }
  .benefits__item:nth-child(3),
  .benefits__item:nth-child(4),
  .benefits__item:nth-child(2),
  .benefits__item:nth-child(5) {
    margin-left: 0;
  }
  .benefits__item:first-child .benefits__title,
  .benefits__item:nth-child(2) .benefits__title,
  .benefits__item:nth-child(3) .benefits__title {
    text-align: left;
  }
  .about__wrap {
    flex-direction: column-reverse;
  }
  .about__img {
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  .order__title,
  .about__info .title-2 {
    padding-left: 0;
    text-align: center;
  }
  .price__list,
  .digits__list {
    flex-direction: column;
    align-items: center;
  }
  .digits__item {
    width: auto;
    margin-bottom: 30px;
  }
  .work__overlay {
    padding: 5px;
    font-size: 14px;
  }
  .steps__item:nth-child(3),
  .steps__item:nth-child(2),
  .steps__item:nth-child(4) {
    margin-right: 0;
  }
  .footer__block {
    width: 50%;
  }
  .top {
    padding-top: 100px;
  }
  .price__item {
    margin-bottom: 20px;
  }
  .table__scroll {
    width: 100%;
    overflow-x: scroll;
  }
  .table table {
    width: 750px;
  }
  .header {
    position: relative;
  }
  .main--card,
  main {
    padding-top: 0;
  }
  .card__slide {
    height: 280px;
  }
  .card__wrap {
    display: block;
  }
  .card__wrap ul {
    margin: 0;
  }
}

//////////////////////////////////////////////
@media (max-width: 480px) {
  .header--card .header__wrap,
  .header__wrap {
    padding-left: 15px;
    padding-top: 110px;
  }
  .header--card .logo,
  .logo {
    height: 110px !important;
    padding: 10px;
    left: 50%;
    transform: translateX(-50%);
    
    img {
      max-height: 100%;
    }
  }
  .title-3, 
  h3 {
    font-size: 18px;
  }
  .title-2,
  h2 {
    font-size: 26px;
  }
  h1,
  .title {
    font-size: 32px;
  }
  .promo__slide {
    height: 600px;
  }
  .promo__info {
    padding: 20px;
  }
  .tabs__title {
    flex-direction: column;
  }
  .tabs__name {
    width: 100%;
    margin: 0;
    
    a {
      display: block;
      padding: 10px;
      width: 100%;
      text-align: center;
      border-bottom: 0;
    }
  }
  .tabs__title .ui-tabs-active a {
    text-decoration: underline;
  }
  .consulting__form .form__input,
  .footer__contacts,
  .footer__block,
  .order__input,
  .work__link,
  .work__item {
    width: 100%;
  }
  .work__link img {
    width: 100%;
    height: auto;
    max-height: none;
    max-width: 100%;
  }
  .work__more {
    display: block;
    margin-top: 30px;
  }
  .news__list,
  .order__line {
    display: block;
  }
  .news__item {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
  .contacts__phone {
    margin: 0;
  }
  .footer__bottom span {
    margin-right: 0;
    display: block;
  }
  .footer__list {
    margin-bottom: 20px;
  }
  .work__overlay {
    padding: 10px;
    font-size: 16px;
    
    p {
      max-width: 100%;
    }
  }
  blockquote {
    margin-left: 30px;
  }
  .page ul {
    padding-left: 0;
    
    li {
      margin-bottom: 10px;
    }
  }
  .share {
    flex-wrap: wrap;
    justify-content: center;
  }
  .share__list {
    flex-wrap: wrap;
  }
  .share span {
    display: block;
    margin-bottom: 10px;
  }
  .share__item {
    margin-left: 5px;
    margin-right: 5px;
  }
  .form__wrap {
    display: block;
  }
  .consulting__form .checkbox__label {
    margin-right: 0;
  }
  .table table {
    margin-top: 0;
  }
  .price__value span {
    font-size: 80px;
  }
  .card__slide {
    height: 170px;
  }
  .card__info {
    top: 10px;
    padding: 10px;
  }
  .card__list {
    padding: 0;
    display: block;
    min-width: 100px;
  }
  .card__item {
    margin-right: 0;
    margin-bottom: 5px;
    font-size: 18px;
  }
  .card__item img {
    margin-right: auto;
    margin-left: auto;
  }
  .gallery-thumbs {
    width: 200px;
  }
}
