h1,
.title {
  color: #333333;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

h2,
.title-2 {
  margin-bottom: 25px;
  color: #333333;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}

h3,
.title-3 {
  color: #333333;
  font-weight: 700;
  font-size: 20px;
}

.subtitle {
  margin-bottom: 25px;
  text-align: center;
  color: #666666;
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  
  a {
    color: @yellow;
    border-bottom: 1px solid @yellow;
    
    &:hover {
      border-color: rgba(255,255,255,0);
    }
  }
}
